<meta charset="utf-8">
<meta name="generator" content="GitLab Pages">
<title>Plain HTML site using GitLab Pages</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="navbar">
<a
href="https://gitlab.com/EgorSorv7/ci-cd-homework-1/-/blob/main/.gitlab-ci.yml">S
chema</a>
<a href="https://unsplash.com/photos/QVGwkHhl0XQ">Picture</a>
</div>
<h1>We built a dream house</h1>
</body>
</html>